.idea
intellij-java-google-style.xml
**/target
**/grep-demo.jar
**/core_java/grep/out
**/core_java/grep/log
*.iml
**/grep/data
**/dependency-reduced-pom.xml
**/.sql.swp
**/.config/configstore/update-notifier-npm.json
**/.ipynb_checkpoints/Untitled-checkpoint.ipynb
**/.ipython/
**/.jupyter/lab/workspaces/lab-a511.jupyterlab-workspace
**/.local/
**/.npm/
python_data_analytics/python_data_wrangling/
